<!DOCTYPE html>
<html>
<head>
	<title>New Faculty Portal</title>
</head>
<body>
	<h1>Add New Faculty</h1>

	<form action="" method="POST">
		{{ form.hidden_tag() }}
		<p>
			{{ form.name.label }}
			{{ form.name(size=20)}}
		</p>

		<p>
			{{ form.alma_mater.label }}
			{{ form.alma_mater(size=20)}}
		</p>

		<p>
			{{ form.education.label }}
			{{ form.education(size=20)}}
		</p>

		<p>
			{{ form.dept_name.label }}
			{{ form.dept_name(size=20)}}
		</p>

		<p>
			{{ form.position.label }}
			{{ form.position(size=20)}}
		</p>
		
		<p>{{ form.submit(class = "btn btn-outline-info") }}</p>
	</form>

	<footer>
		<a href="/home">Home Page</a>
		<a href={{ url_for("admin_options") }}>Back</a>
	</footer>

</body>
</html>