<!DOCTYPE html>
<html>
<head>
	<title>Update Profile</title>
</head>
<body>
	<h1>Update Page</h1>
	<header>
		<a href={{ url_for("faculty_options",faculty_id = arr[0]["faculty_id"], name = arr[0]["name"], position = arr[0]["position"], 
		dept_name =  arr[0]["dept_name"])}}>Faculty Options</a>
	</header>

	<form action="" method="POST">
		{{ form.hidden_tag() }}

		<p>FACULTY-ID {{ arr[0]["faculty_id"] }}</p>

		<p>
			{{ form.name.label }}
			{{ form.name(size=32)}}
			Leave empty if you want your name to remain as {{ name }}
		</p>

		<p>
			{{ form.alma_mater.label }}
			{{ form.alma_mater(size=32)}}
			Leave empty if you want your alma_mater to remain as {{ alma_mater }}
		</p>

		<p>
			{{ form.education.label }}
			{{ form.education(size=32)}}
			Leave empty if you want your education to remain as {{ education }}
		</p>

		<p>{{ form.update(class = "btn btn-outline-info") }}</p>


	</form>	
</body>
</html>